In [1]:
%load_ext watermark

In [2]:
from IPython.display import display
import numpy as np
import pandas as pd

In [3]:
%watermark -diwmuv -iv

Last updated: 2025-08-07T15:43:34.296127+00:00

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 7.31.1

Compiler    : GCC 11.4.0
OS          : Linux
Release     : 6.8.0-1031-azure
Machine     : x86_64
Processor   : x86_64
CPU cores   : 4
Architecture: 64bit

pandas: 2.2.3
numpy : 2.1.2

Watermark: 2.4.3

In [4]:
np.random.seed(42)

## Create Dummy 3D Tensor Data

In [5]:
nrow, ncol, nlay = 6, 9, 12
rank = 3
data = np.random.normal(size=(nrow, ncol, nlay))

assert data.shape == (nrow, ncol, nlay)

for layer in range(nlay):
    print(f"Layer {layer + 1} data:")
    display(pd.DataFrame(data[:, :, layer].reshape(nrow, ncol)))

Layer 1 data:

,0,1,2,3,4,5,6,7,8
0,0.496714,0.241962,-0.544383,0.208864,0.343618,-0.479174,-0.035826,-0.808494,0.296120
1,0.257550,0.791032,-1.062304,0.259883,1.865775,-0.245388,0.625667,0.214094,-1.377669
2,-0.772825,-0.715304,-0.792521,2.122156,-0.252568,0.199060,0.280992,-0.828995,0.825416
3,-1.006017,-0.825497,-0.718444,0.519347,1.451144,-0.759133,-1.713135,0.120296,2.060748
4,-0.269407,-1.304470,-0.107030,-0.530501,-0.127918,0.077368,-0.650643,0.500917,0.259723
5,0.835692,1.167782,1.201214,0.235615,0.830336,0.756989,0.279969,1.593187,0.823171

Layer 2 data:

,0,1,2,3,4,5,6,7,8
0,-0.138264,-1.913280,0.110923,-1.959670,-1.763040,-0.185659,1.564644,-0.501757,0.261055
1,-0.074446,-0.909387,0.473592,0.781823,0.473833,-0.753736,-0.857158,-1.245739,-0.937825
2,-0.236819,0.679598,-0.114736,1.032465,-1.247783,-0.600217,-0.622700,-0.560181,0.813510
3,-1.214189,-0.321386,-0.213447,1.532739,0.959271,0.150394,1.353872,0.514439,1.755341
4,0.717542,0.669673,-1.035242,-0.575818,-0.955540,-0.861284,-0.487125,-0.977555,-0.904317
5,-1.129707,0.254421,-0.408075,0.770865,-0.856084,-0.922165,-1.125489,-0.511216,0.073318

Layer 3 data:

,0,1,2,3,4,5,6,7,8
0,0.647689,-1.724918,-1.150994,-1.328186,0.324084,-1.106335,-2.619745,0.915402,0.005113
1,-1.918771,1.402794,-0.919424,-1.236951,-1.191303,-0.889514,-1.070892,0.173181,0.515035
2,-0.485364,-0.730367,0.504987,-1.519370,1.632411,0.069802,-0.208122,0.747294,1.305479
3,1.158111,0.412931,0.310908,-0.108760,2.153182,0.341756,-0.114540,0.711615,-0.248964
4,1.502357,0.366598,-0.553649,-0.275052,-1.606446,1.523124,-0.592394,0.099332,0.638592
5,0.529804,0.337603,-2.038125,-1.478586,0.071566,0.869606,2.445752,-0.989605,-1.289961

Layer 4 data:

,0,1,2,3,4,5,6,7,8
0,1.523030,-0.562288,0.375698,0.196861,-0.385082,-1.196207,0.821903,0.328751,-0.234587
1,-0.026514,-1.401851,1.549934,-1.320457,0.656554,-0.815810,0.482472,0.385317,0.513786
2,0.081874,0.216459,0.865755,-0.484234,-1.430141,-0.385314,-0.493001,0.610370,0.021004
3,0.791663,-0.563725,1.475356,0.401712,-0.767348,1.876171,1.237816,-1.124642,0.971571
4,0.074095,-0.939880,-1.197878,-2.301921,0.203464,0.538910,-0.863991,0.751387,-1.661520
5,1.441569,-0.411877,-1.008086,1.143754,-0.477657,1.355638,0.129221,-0.125787,-1.295079

Layer 5 data:

,0,1,2,3,4,5,6,7,8
0,-0.234153,-1.012831,-0.600639,0.738467,-0.676922,0.812526,0.087047,-0.529760,-1.415371
1,0.060230,0.586857,-0.783253,0.521942,-0.974682,-0.077102,-0.223463,-0.883857,0.515048
2,2.314659,0.045572,-1.200296,1.266911,-0.440044,0.113517,-0.589365,-0.020902,0.681953
3,0.624120,-0.822220,0.857660,0.690144,0.872321,0.950424,-1.594428,-1.534114,0.645376
4,1.628616,-0.513867,1.964725,-1.515191,-0.756351,-1.037246,0.048522,-1.669405,-0.066080
5,-2.471645,-0.487606,-1.870792,0.338496,0.478980,0.413435,0.109395,0.055725,-0.335785

Layer 6 data:

,0,1,2,3,4,5,6,7,8
0,-0.234137,0.314247,-0.291694,0.171368,0.611676,1.356240,-0.299007,0.513267,-0.420645
1,2.463242,2.190456,-0.322062,0.296985,0.787085,0.341152,0.714000,0.153725,3.852731
2,-1.867265,-0.651600,-0.334501,-0.707669,0.130741,0.662131,0.849602,0.117327,-0.310267
3,0.628346,0.243687,-0.159939,-0.401220,0.183342,-0.576904,-0.599375,1.277677,1.368632
4,-1.380101,-1.059214,0.035264,1.366874,-1.422254,-0.190339,-0.830950,0.543360,-1.211016
5,-0.796895,-0.432558,-0.351513,-0.415288,0.333662,1.876796,0.725767,1.094192,1.669022

Layer 7 data:

,0,1,2,3,4,5,6,7,8
0,1.579213,-0.908024,-0.601707,-0.115648,1.031000,-0.072010,0.091761,0.097078,-0.342715
1,-0.192361,-0.990536,0.813517,0.250493,1.158596,0.276691,0.473238,0.058209,0.570891
2,0.686260,2.143944,-0.474945,0.443819,1.441273,1.586017,0.357015,1.277665,0.324166
3,-0.012247,0.244967,-0.019016,0.224092,2.189803,-0.898415,0.005244,0.332314,-0.964923
4,-1.703382,-0.062679,-0.699726,1.644968,-0.646573,-0.875618,0.270457,-0.662624,-0.651836
5,0.577072,0.394452,0.018418,0.632782,1.037540,-0.773789,0.481009,-1.692465,-0.259591

Layer 8 data:

,0,1,2,3,4,5,6,7,8
0,0.767435,-1.412304,1.852278,-0.301104,0.931280,1.003533,-1.987569,0.968645,-0.802277
1,0.301547,-0.566298,-1.230864,0.346448,-0.820682,0.827183,-0.072829,-1.142970,1.135566
2,-1.612716,0.633919,-0.653329,0.774634,-1.435862,-1.237815,-0.692910,-0.591571,-0.130143
3,-0.897254,-0.506943,-1.002529,0.012592,-0.808298,0.491919,0.046981,-0.748487,0.686051
4,-0.055548,0.955142,0.213980,-0.249036,-1.081548,-1.382800,-0.050238,0.570599,0.047399
5,-0.203045,-0.420984,1.676437,2.270693,-0.510016,-1.244655,0.223884,1.529550,-1.503143

Layer 9 data:

,0,1,2,3,4,5,6,7,8
0,-0.469474,1.465649,-0.013497,-1.478522,-0.839218,0.361636,-0.219672,-0.702053,-0.161286
1,-0.034712,0.099651,0.227460,-0.680025,0.963376,0.013002,-0.846794,0.357787,0.954002
2,-0.471932,-2.025143,1.765454,-0.926930,1.163164,2.133033,0.899600,0.547097,0.096996
3,0.075805,-0.471038,-0.018513,0.097676,-0.839722,-1.320233,-0.450065,1.551152,1.058424
4,0.384065,-0.985726,-0.112328,0.576557,1.687142,0.926178,-0.238948,-0.763259,-0.860413
5,0.371146,0.289775,0.326927,0.181866,-0.269875,-1.778720,-0.790474,-0.158008,-0.245743

Layer 10 data:

,0,1,2,3,4,5,6,7,8
0,0.542560,-0.225776,-1.057711,-0.719844,-0.309212,-0.645120,0.357113,-0.327662,0.404051
1,-1.168678,-0.503476,1.307143,0.232254,0.412781,1.453534,-1.514847,0.560785,0.651391
2,1.088951,0.186454,0.404982,-0.059525,0.010233,-1.952088,0.307300,-0.202193,0.595157
3,-0.677162,0.232050,-0.288659,-0.773010,-0.599393,1.831459,0.622850,0.115675,-1.758739
4,-0.032695,0.504047,-0.220970,0.311250,0.881640,1.909417,-0.907564,-1.804882,-0.384556
5,-0.603985,2.075401,-0.219101,0.248221,-0.978764,1.496044,0.471468,-0.426881,-0.272724

Layer 11 data:

,0,1,2,3,4,5,6,7,8
0,-0.463418,0.067528,0.822545,-0.460639,0.331263,0.361396,1.477894,-0.392108,1.886186
1,1.142823,-1.550663,-1.607483,0.293072,0.822060,-0.264657,-0.446515,1.083051,-0.315269
2,0.064280,-0.661786,-1.260884,-3.241267,-0.981509,-0.151785,0.812862,-0.217681,-0.818221
3,0.975120,-1.448084,0.322719,0.024510,-2.123896,1.179440,-1.067620,1.179297,-1.183259
4,-2.067442,-0.530258,0.614167,3.078881,-0.007973,-1.398568,-0.576771,-1.627542,1.006293
5,0.086590,0.871125,0.829406,-0.459361,-0.444293,0.654366,1.882024,-1.012104,-2.696887

Layer 12 data:

,0,1,2,3,4,5,6,7,8
0,-0.465730,-1.424748,-1.220844,1.057122,0.975545,1.538037,-0.518270,-1.463515,0.174578
1,0.751933,0.068563,0.184634,-0.714351,1.896793,2.720169,0.856399,1.053802,0.758969
2,-1.077745,0.852433,0.917862,-1.024388,0.462103,0.588317,0.629629,1.098777,2.092387
3,-0.147057,-1.407464,-0.827231,0.497998,-0.525755,-0.469176,-0.142379,0.067518,-2.039232
4,-0.089120,-0.792873,0.757508,1.119575,1.479944,0.562969,0.755391,0.048085,-0.576892
5,-0.155677,-0.326024,-2.211135,-0.849844,0.377300,-0.055585,1.345420,-1.654857,-0.054295

## Create Factor Matrices

In [6]:
A1 = np.random.rand(nrow, rank)
A2 = np.random.rand(ncol, rank)
A3 = np.random.rand(nlay, rank)

assert A1.shape == (nrow, rank)
assert A2.shape == (ncol, rank)
assert A3.shape == (nlay, rank)

## Mode 1 MTTKRP

In [7]:
m1_matricized = data.reshape(nrow, ncol * nlay, order="F")
assert m1_matricized[0, 0] == data[0, 0, 0]
assert m1_matricized[0, 1] == data[0, 1, 0]
assert m1_matricized[1, 0] == data[1, 0, 0]
assert m1_matricized[1, 1] == data[1, 1, 0]
assert m1_matricized[0, ncol] == data[0, 0, 1]
assert m1_matricized[0, ncol + 1] == data[0, 1, 1]
assert m1_matricized[1, ncol] == data[1, 0, 1]
assert m1_matricized[1, ncol + 1] == data[1, 1, 1]

In [8]:
kr_columns = [
    np.outer(A2[:, r], A3[:, r]).ravel()
    for r in range(rank)
]
kr_result = np.stack(kr_columns, axis=1)
assert kr_result.shape == (ncol * nlay, rank)

In [9]:
mttkrp_result = m1_matricized @ kr_result
assert mttkrp_result.shape == (nrow, rank)

In [10]:
pd.DataFrame(mttkrp_result)

          0         1         2
0 -3.283820 -0.913274  0.269766
1  1.184551 -0.519007  3.237160
2 -0.487381 -0.507444 -0.163450
3  4.818047  2.668092  1.053399
4 -4.925269 -5.458440 -2.690926
5 -2.440659 -0.775316  0.758146

## Mode 2 MTTKRP

In [11]:
m2_matricized = data.transpose((1, 2, 0)).reshape(ncol, nrow * nlay, order="F")
assert m2_matricized[0, 0] == data[0, 0, 0]
assert m2_matricized[0, 1] == data[0, 0, 1]
assert m2_matricized[1, 0] == data[0, 1, 0]
assert m2_matricized[1, 1] == data[0, 1, 1]
assert m2_matricized[0, nlay] == data[1, 0, 0]
assert m2_matricized[0, nlay + 1] == data[1, 0, 1]
assert m2_matricized[1, nlay] == data[1, 1, 0]
assert m2_matricized[1, nlay + 1] == data[1, 1, 1]

In [12]:
kr_columns = [
    np.outer(A1[:, r], A3[:, r]).ravel()
    for r in range(rank)
]
kr_result = np.stack(kr_columns, axis=1)
assert kr_result.shape == (nrow * nlay, rank)

In [13]:
mttkrp_result = m2_matricized @ kr_result
assert mttkrp_result.shape == (ncol, rank)

In [14]:
pd.DataFrame(mttkrp_result)

          0         1         2
0  1.046068 -1.745584  0.275837
1 -4.359642 -3.581912 -4.144847
2 -2.434049  0.403133 -0.164072
3 -1.183109 -1.925122  0.930106
4  0.926061 -1.865593 -2.426976
5  1.687745  1.958349  3.670094
6 -0.198054  0.205035  1.609594
7 -2.414506 -0.383277 -1.276039
8  0.205837 -1.436379 -1.055219

## Mode 3 MTTKRP

In [15]:
m3_matricized = data.transpose((2, 0, 1)).reshape(nlay, nrow * ncol, order="F")
assert m3_matricized[0, 0] == data[0, 0, 0]
assert m3_matricized[0, 1] == data[1, 0, 0]
assert m3_matricized[1, 0] == data[0, 0, 1]
assert m3_matricized[1, 1] == data[1, 0, 1]
assert m3_matricized[0, nrow] == data[0, 1, 0]
assert m3_matricized[0, nrow + 1] == data[1, 1, 0]
assert m3_matricized[1, nrow] == data[0, 1, 1]
assert m3_matricized[1, nrow + 1] == data[1, 1, 1]

In [16]:
kr_columns = [
    np.outer(A1[:, r], A2[:, r]).ravel()
    for r in range(rank)
]
kr_result = np.stack(kr_columns, axis=1)
assert kr_result.shape == (ncol * nrow, rank)

In [17]:
mttkrp_result = m3_matricized @ kr_result
assert mttkrp_result.shape == (nlay, rank)

In [18]:
pd.DataFrame(mttkrp_result)

           0         1         2
0   2.255487  2.923414  0.106613
1  -3.376740 -1.394153 -3.939292
2   0.044753 -2.340862  0.100080
3   2.660278 -0.220387 -1.866627
4  -2.059492 -1.043436  0.514387
5   1.322734  2.164414  3.775754
6   0.240043  2.555920 -0.630685
7  -1.846331 -0.601866 -0.679790
8   2.008938 -0.477447  1.505488
9  -1.017211 -0.685540  2.618129
10 -0.999363 -0.322775 -2.452402
11 -0.972096  1.971091  3.714422